/* menu */
.menu {
    display: flex;
    justify-content: space-between;
    padding: 10px 20%;
    box-sizing: border-box;
    background-color: white;
    border-bottom: 1px solid lightgray;
}

.menu__link {
    text-decoration: none;
    color: #ff6600;
}

/* forms button */
.button {
    cursor: pointer;
    background-color: #ff6600;
    color: white;
    border-radius: 15px;
    padding: 10px;
    font-weight: 500;
    border: none;
}

.button:hover {
    background-color: white;
    color: #ff6600;
    border: 2px solid #ff6600;
}

/* login and signup */
.login, .signup, .post-tuite {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    box-sizing: border-box;
}

.login__title, .signup__title, .post-tuite__title {
    font-weight: 500;
}

.login-form, .signup-form, .post-tuite-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form {
    width: 300px;
}

.signup-form {
    width: 420px;
}

.post-tuite-form {
    margin-top: 20px;
}

.login-form p, .signup-form p, .post-tuite p {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.signup-form .helptext, .signup-form ul {
    display: none;
}


/* post_tuite  */
.post-tuite-field {
    color: #ff6600;
}


/* card */
.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    box-sizing: border-box;
    background-color: #f2f2f2;
}

.card {
    width: 70%;
    padding: 20px 30px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 8px -2px gray;
}

.card:last-child {
    margin-bottom: 0;
}

.author-and-date, .likes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    color: #262626;
}

.author, .likes-icon {
    color: #007acc;
}


/* profile */
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #f2f2f2;
    padding: 0 15%;
    box-sizing: border-box;
}

.profile-edit, .button {
    background-color: #ff6600;
    color: white;
    border-radius: 15px;
    padding: 5px 10px;
    font-weight: 500;
}

.profile-edit:hover, .button:hover {
    background-color: white;
    color: #ff6600;
    border: 2px solid #ff6600;
}

.profile-info-box {
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.profile-info-content {
    display: flex;
    flex-direction: column;
}

.profile-info-content .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-picture {
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-right: 40px;
}

.profile-tuites {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 40px 0;
    box-sizing: border-box;
}

.following, .followers {
    color: black;
}

.following:hover, .followers:hover {
    color: #007acc;
}

.follow {
    background-color: #007acc;
    color: white;
    border-radius: 15px;
    padding: 5px 10px;
    font-weight: 500;
    margin-top: 15px;
}