{% load tuite_likes %}

<div class="card">
    <p class="content">{{ tuite.content }}</p>
    <hr>
    <div class="author-and-date">
        <a href="{% url 'users:profile' tuite.author.pk %}" class="author"> <!-- Adiciona link para o perfil do usuário -->
            <div class="author-avatar" style="background-image: url('{{ tuite.author.picture.url }}');"></div>
            @{{ tuite.author }} 
        </a>
        <span class="date">{{ tuite.date_created }}</span>
    </div>
    <div class="likes">
        <p>
            Curtido por
            {% for user_liked in tuite.liked_by.all %}
                {{ user_liked }}
            {% empty %}
                ninguém
            {% endfor %}
        </p>
        <div>
            <a href="{% url 'tuites:like' tuite.pk %}" class="likes-icon">
                {% tuite_liked_icon %}
                {{ tuite.likes_count }}
            </a>
        </div>
    </div>
    </a>
</div>